/*通用字体样式*/
*{font-family:"微软雅黑";font-size:14px;color:#666;}
body,p,ul,li{padding: 0; margin: 0;list-style:none;}
i{font-style: normal;}
#bodyer{background: #f5f5f5 !important;}
input,button,select,textarea{outline:none;border: none;}
a{color:#666; text-decoration:none;}

.citylist{width:50px;text-align:center;}

/*光标样式*/
.ul1 li a:hover,
.header-bottom-left,
.hoverpointer {cursor:pointer;}


/*-----------------弹出框--------------------*/
.jconfirm-scrollpane .container{width:300px;margin:auto;}
.jconfirm-scrollpane .container button {background-color: white;}


/*整体宽度的设置*/
/* #daikuan{width:1920px;} */
/*头部的整体样式*/
#header{border-bottom: 1px #e2e2e2 solid; background: #f4f4f4;}
.header-top{width:1200px; margin:0 auto;}
.headerbg{ background: #fff; border-bottom: 1px #e2e2e2 solid;}
/*.header-top{width:100%;background: #f7f7f7;}*/

/*头部第一模块的样式*/
.header-top-1{margin: 0 auto;width:1200px;height: 33px;background: url(../images/01_03.jpg) no-repeat 5px;text-align: right;}
.header-top-2{margin: 0 auto;width: 1190px;padding: 20px 0 10px;}
.header-top-2 li{border: 1px solid #414141;display: inline-block;margin: 0px 4px 5px;padding: 2px 3px;font-size:12px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;position: relative;z-index:500;behavior: url(style/PIE.htc);}

#current_city{float: left;}

.span1-1{padding-left:25px;line-height: 32px;}
.span1-2{color:#ff2e31 !important;}

.span1-3>img, .span1-4>img{position: relative;top:4px;}
.span1-3>img{padding-left:50px;}
.span1-5{font-size: 12px;color:#666;line-height: 32px;}
.span1-6{border: 1px solid #a8a3a3;height:10px;display: inline-block;position: relative;top: 2px;}
/*头部第二模块的样式*/
.header-bottom{width:1200px;height:115px;margin: 0 auto;background: #ffffff;}
.header-bottom-left{height: 115px;width:200px; float: left;}
/* .header-bottom-left>img{position: relative;top:10px; background: #ffffff;} */
.header-bottom-left>img{position: relative;top:30px; background: #ffffff;}
/* .i1{background: #66BDD7;display: inline-block;width: 176px;height: 30px;border-radius: 8px;margin:10px 0px 0px 13px;} */
.i1{background: #66BDD7;display: block;width: 176px;height: 30px;margin:-10px 0 0 210px;border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;position: relative;z-index:500;behavior: url(style/PIE.htc);}
/*第一部分的下半部分*/
.img-1{margin: 5px 0px 0px 10px;}
.span2-1{font-size: 18px;color: white;position: relative;top:-3px;}
.header-bottom-right{float: right;margin: 42px 0px;}
.ul1{list-style: none;}
.ul1 li{float: left;margin-left: 50px;}
.ul1 li a{text-decoration: none;color:black;font-size: 18px;color:#333;}
.ul1 li a:hover{border-bottom: 3px solid #66BDD7;padding-bottom: 20px;}

/*主体内容的样式*/
.img2-3{height:380px;margin-bottom: 30px; position: relative;width: 1200px;margin:0 auto 30px;}
    
    
/* .img2-3 .img2-form{position:relative;top:20px;left:350px;width:330px;height:415px;background:rgba(250,250,250,0.6);border-radius: 6px;} */
.img2-3 .img2-form{display:none;position:relative;top:20px;margin: 0 auto;right: 435px;width:330px;height:415px;background:rgba(250,250,250,0.6);border-radius: 6px;}
.img2-form>p{font-size: 24px;text-align: center;color:white;padding:16px 0px 0px 0px}
.form-1-1,.form-1-4{width:255px;height:36px;padding:0px 10px;margin: 20px 25px;}
.form-1-2,.form-1-5{width:142px;height:36px;padding:0px 10px;margin: 0 5px 0px 25px;}
.form-1-3{height:37px;width:105px;background: #fff url(../images/men.jpg) no-repeat 10px center;padding-left: 22px;}
.img2-3 .yanzhengma{position: absolute;top:236px;left:200px;height:36px;width:100px;background: #ffffff;}
.form-1-6{width:96px;height:36px;margin: 20px 20px 15px 25px; padding: 0 16px;}
.button-1-1{width:124px;height:36px;background: #9a9899;color:white;border:none;}
.button-1-2{width: 280px;height: 44px;background:#014a94 ;border: none; margin-top:10px;text-align: center;color:white;font-size: 18px;margin-left: 25px;}
/*这是贷款产品的产品内容*/
.div-table2{position:relative;width:1200px; background:#fff;margin: 0 auto;border:1px solid #8AC6F9;}
.span2-3{border-bottom: 1px solid #e2e2e2;font-size:14px;color:#666;line-height:40px;font-family: 微软雅黑;}
.span2-2{width:248px;/*color:#80C7DD;*/color: #09a9de;font-weight: 600 !important;padding-left: -20px;padding-right: -40px;}
.div2-1{background:white !important;}
.div2-1 th{font-weight: normal;}
.table2-2 tr td{width:235px;height:45px;text-align: center;}
.table2-2 tr:nth-child(2n-1){background:#f5f5f5;}
.td1{background: url(../images/d.png) no-repeat;background-position:65px 13px;color:orangered}
/*特殊蓝色标签*/
.div2-2{position: absolute;left:-4px;top:60px;width:32px;height:177px;background: url(../images/01_26.png);}
.div2-3{width:25px;height:27px;background: url(../images/icon.png) no-repeat 0px 0px;background-position: 0px 5px;margin: 2px 2px;}
.span2-4{font-size: 18px;color:white;line-height: 20px;text-align: center;}
/*这是贷款顾问*/
.daikuanguwen-3{position:relative;margin: 30px auto 30px; height:385px;width:1200px;}
.daikuanguwen-3-left{height: 385px;width: 850px;float: left;border: 1px solid #e2e2e2; background: #fff;}
.daikuanguwen-left-1{float:left;width:212.5px;height:385px; background: #eee;}
.daikuanguwen-left-1:nth-child(2n-1){background: white;}
.daikuanguwen-img{margin:45px 0px 5px 50px;width: 119px; height: 119px;border-radius: 70px;-moz-border-radius: 70px;-webkit-border-radius: 70px;position: relative;z-index:500;behavior: url(style/PIE.htc);}
.daikuanguwen-left-1>span{text-align: center;display: block;}
.daikuanguwen-left-1>p{text-align: center;line-height: 32px;}
.daikuanguwen-left-1 i{color:#66BDD7}
.daikuanguwen-lx{width:150px;height: 30px; background: #ff6700;margin: 20px auto;text-align: center;line-height: 28px;color:white;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;position: relative;z-index:500;behavior: url(style/PIE.htc);}
.daikuanguwen-3-right{position:relative;height: 385px;width: 325px;float: right;border: 1px solid #e2e2e2; background: #fff;}

.div3-3{position: absolute;left:380px;top:-3px;width:177px;height:32px;background: url(../images/01_30.png);}
.div3-4{width:25px;height:27px;background: url(../images/icon.png) no-repeat 0px -37px;margin: 2px 2px;float: left;margin:0px 5px 0px 37px;}
.span3-5{float:left;font-size: 18px;color:white;text-align:center;line-height: 30px;}
.xindaidaixun-1-1{float:left;margin-top:40px;*display: inline; margin-left: 10px;}
.xindaidaixun-1-2{width:580px;height:315px;float:right;margin-left:20px}
/* tab切换 */
.xindaidaixun-1-2 ol li{float:left;width:77px;color:#999999;font-weight: 600;cursor:pointer;font-size:14px;height:28px;text-align:center;background:white;/*padding:0;*/margin:0;padding: 10px 0 0;    border-bottom: 1px solid #e2e2e2;}
.xindaidaixun-1-2 ol{overflow:hidden;zoom:1;list-style-type:none;/*margin-top:5px;*/margin: 0;padding: 0;}
/* .xindaidaixun-1-2 ol li.fli a{border-bottom:2px solid #ff6700;display: inline-block; height: 25px;} */
.xindaidaixun-1-2 ol li.fli{border-top:2px solid #ff6700;border-right: 1px solid #e2e2e2;border-left: 1px solid #e2e2e2;border-bottom: 0px;display: inline-block; height: 27px;box-shadow: 1px 1px 2px #e2e2e2;}
.xindaidaixun-1-2 ol li.fli a{color:#ff6700;}
#tab_con {width:539px;height:315px;}
#tab_con div {width:519px;height:315px;display:none;padding: 0 10px 10px;}
#tab_con div.fdiv{display:block;background-color:white;border: 1px solid #e2e2e2;border-top: 0px;box-shadow: 1px 1px 2px #e2e2e2;}

.fdiv-1{font-size:16px;color:#000000;text-align:center;font-family:微软雅黑;margin-bottom:15px}
font{font-style:none;color:#999999;font-size:14px;}
.ul-1{padding-left:15px;}
.ul-1 li,.ul-2 li{list-style:disc}
.ul-2{padding-left:60px}
.ul-1,.ul-2{font-size:14px;color:#666;float:left;line-height:35px; margin-top:10px}




/*向上轮播的效果*/
.box{ margin-top:40px;width:325px;}
.table_top{ height:37px;border-bottom:1px #cfcfcf solid;}
.table_top li{float:left; color:block; font-size:14px;text-align:center;line-height:37px; height: 37px;}
.w_name{ width:100px;}
/* .w_shcool{width:78px;} */
.w_xueli{width:107px;}
.w_jzgs{width:107px;}
.w_name1{ color:orangered}

.list_lh{ height:300px; overflow:hidden;text-align:center}
.list_lh li{ height:35px;line-height: 50px;}
.list_lh li span{display:inline-block; font-size:14px;}
.list_lh li span strong{ font-size:18px; color:#e73828;}
.btn_lh:hover{ color:#fff; text-decoration:none;}

.div4-4{position: absolute;left:80px;top:-4px;width:177px;height:32px;background: url(../images/01_30.png);}
.div3-6{width:25px;height:27px;background: url(../images/icon.png) no-repeat 0px -78px;margin: 2px 2px;float: left;margin:0px 5px 0px 37px;}

.xindaidaixun{width:1200px; margin: 20px auto; position: relative;height:375px;}
.xindaidaixun-left{width:850px;height:375px;float: left;overflow:hidden;border: 1px solid #e2e2e2;background:white;}
.xindaidaixun-right{width:325px;height:375px;float:right;border: 1px solid #e2e2e2;background:white;}

.xindaidaixun-right-top{width:325px;height:40px;}
.xindaidaixun-right-buttom{width:325px;height:335px;}

.xindaidaixun-right-buttom-1{width:160px;height:167px;float: left;}
.xindaidaixun-right-buttom-1>img{padding:25px 0px 10px 38px;}
.xindaidaixun-right-buttom-1>p{text-align: center;}

.xindaidaixun-right-buttom-1-1{color:#83c73c;}
.xindaidaixun-right-buttom-1-2{color:#ff6700;}
.xindaidaixun-right-buttom-1-3{color:#ad71f4;}
.xindaidaixun-right-buttom-1-4{color:#3fb9ff;}

.xindaidaixun-right-top-1{position: absolute;left:940px;top:-4px;width:177px;height:32px;background: url(../images/01_30.png) no-repeat;}
.div3-7{width:25px;height:27px;background: url(../images/icon.png) no-repeat 0px -162px;margin: 2px 2px;float: left;margin:0px 5px 0px 37px;}

.xindaidaixun-right-top-2{position: absolute;left:40px;top:-4px;width:177px;height:33px;background: url(../images/01_30.png) no-repeat;}
.div3-8{width:25px;height:27px;background: url(../images/icon.png) no-repeat 0px -118px;margin: 2px 2px;float: left;margin:0px 5px 0px 37px;}

.hezuojigou{width:1200px;height:330px;border:1px solid #e2e2e2;margin:35px auto;background:white}
.hezuojigou-top{width:100%;height:40px;position:relative}
.hezuojigou-top-1{position: absolute;left:500px;top:-4px;width:177px;height:32px;background: url(../images/01_30.png);}
.hezuojigou-top-1-1{width:25px;height:27px;background: url(../images/icon.png) no-repeat 0px -202px;margin: 2px 2px;float: left;margin:0px 5px 0px 37px;}

.hezuojigou-buttom{width:95%;height:290px;margin:0 auto;}
.hezuojigou-buttom img{margin:15px 0px 15px 20px;border:1px solid #e2e2e2}

.footer{height:340px;}
.footer-top{background:#1d363e URL(../images/ftbg.png) no-repeat 585px 20px;height:230px;}
.footer-top-1{width:1200px;height:340px;margin:0 auto;}
.footer-top-1-table{width:540px;height:230px;margin-left:20px;float:left;}
.footer-top-1-table>table{padding:30px 0px 0px 30px;}
.footer-top-1-table table th{width:120px;height:40px;text-align:left; color:white; font-weight: normal;}
.footer-top-1-table table td{height:25px; color:#dcdddd;}

.footer-top-1-table .footer-dl{padding:15px 0px 0px 30px;}
.footer-top-1-table dl{width: 120px;float: left;}
.footer-top-1-table dt{width:120px;height:40px;line-height:40px;text-align:left; color:white; font-weight: normal;}
.footer-top-1-table dd{margin-left: 0px;}
.footer-top-1-table dd a{height:25px;line-height:25px;color:#dcdddd;}
/* 尾部第一部分 */
.footer-top-tel{float:right;width:400px;height:180px;margin:25px 0px}
.footer-tel-left{float:left;}
.footer-tel-left>p{color:white;padding:13px 0px 0px 7px;}
.footer-tel-right{width:205px;height:53px;float:right;margin-right:20px;background:url(../images/01_78.jpg) no-repeat;}
.footer-tel-right>span{padding-left:55px;color:white; font-size: 12px;}
.footer-span{font-size:16px !important;}
.footer-tel-right-2{width:205px;height:53px;float:right;margin-right:20px;background:url(../images/01_81.jpg) no-repeat;}
.footer-tel-right-3{width:205px;height:53px;float:right;margin-right:20px;background:url(../images/01_83.jpg) no-repeat;}

.footer-buttom{background:#36515a;height:110px;}
.footer-buttom-1{width:1200px;height:40px;margin:0 auto;}
.footer-buttom-left{float:left; margin-left:45px;}
.footer-buttom-left>img{margin-top:20px;}

.footer-buttom-right{width:380px;height:45px;float:right;margin-top:40px;}

.footer-buttom-right>p{text-align:center;color:white; font-size: 12px; line-height: 22px; color: #dcdddd;}
.footer-buttom-right>a{display: block;text-align:center;color:white; font-size: 12px; line-height: 22px; color: #dcdddd;}













